h1 Sample List: Users sees all the items in the list or will edit this list object
div
  a(href="/project/999/99/9") Go to a Child Object of Sample List
  a(href="/project/999/99/9/commit") Commit to Child Object of Sample List