@import "material";
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn{
	width: auto;
	padding: 0px 15px;
	line-height: 37px;
	cursor: pointer;
	background: $blue;
	color: $white;
	text-align: center;

	font-family: 'Roboto', sans-serif;
	border-radius: 5px;
	@extend .noselect;
	&.contrast{
		border: $blue*1.2 1px solid;
	}
	&.embed{
		border: $blue*0.8 1px solid;
	}
	&.expand{
		width: 100% !important;
	}
	&.raised{
		@include  z-depth-top(2);
	}
	&:hover{
		@include  z-depth-top(1);
	}
	&:active{
		@include  z-depth-top(3);
		background: $blue*1.1;
	}
	@include transition(all,$inOut,.28s);
	
	&.disabled {
		@include z-depth-top(1);
		opacity: 0.8;
	}
	&.left{
		float:left;
	}
	&.right{
		float: right;
	}
}
.btn-flat{
	@extend .noselect;
	width: auto;
	padding: 0px 15px;
	line-height: 37px;
	margin: 15px;
	cursor: pointer;
	color: $blue;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	&:hover{
		color: $blue*0.8;
	}
	&:active{
		color: $blue*1.2;
	}
	&.left{
		float:left;
	}
	&.right{
		float: right;
	}
}
