@import 'material';
html,body{
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	@extend .m-paper;
}
body{
	
	&>aside{
		margin: 0px 20px;
		padding: 5px;
		@extend .m-denim;
		height: calc(100% - 40px);
		width: 80px;
		@include  z-depth-top(1);
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	&>section{
		position: absolute;
		left: 200px;
		top: 0px;
		width: calc(100% - 200px);
		height:100%;
	}

}