doctype html
html(ng-app="Rezil.io")
    head
        title Public
        base(href="http://#{base}/")
        meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
        link(href="https://fontastic.s3.amazonaws.com/9BgZvB54BFxBo5KTDAPvAC/icons.css",rel="stylesheet")
        // STYLES
        link(rel="stylesheet", href="/styles/dependencies/angular-material/angular-material.css")
        link(rel="stylesheet", href="/styles/dependencies/angular-material/blue-theme.css")
        link(rel="stylesheet", href="/styles/public/app.css")
        link(rel="stylesheet", href="/styles/public/comment-box/comment-box.css")
        link(rel="stylesheet", href="/styles/public/item/item.css")
        link(rel="stylesheet", href="/styles/public/list/list.css")
        link(rel="stylesheet", href="/styles/public/login/login.css")
        link(rel="stylesheet", href="/styles/public/project/project.css")
        link(rel="stylesheet", href="/styles/public/projects/projects.css")
        // STYLES END
    body
        // TEMPLATES
        script(type="text/javascript", src="/templates/jst_public.js")
        // TEMPLATES END
        
        
        nav(ng-controller="NavigatorCtrl",ng-show="show")
          a(href="/login") Login Page
        section#view-holder
            ng-view
        // SCRIPTS
        script(src="/js/dependencies/firebase/firebase.js")
        script(src="/js/dependencies/hammerjs/hammer.js")
        script(src="/js/dependencies/angular/angular.js")
        script(src="/js/dependencies/angular/angular-animate.js")
        script(src="/js/dependencies/angular/angular-aria.js")
        script(src="/js/dependencies/angular/angular-material.js")
        script(src="/js/dependencies/angular/angular-resource.js")
        script(src="/js/dependencies/angular/angular-route.js")
        script(src="/js/dependencies/angular/angularfire.js")
        script(src="/js/dependencies/lodash/lodash.js")
        script(src="/js/public/app.js")
        script(src="/js/public/NavigatorCtrl.js")
        script(src="/js/public/comment-box/CommentBoxDir.js")
        script(src="/js/public/commit/CommitCtrl.js")
        script(src="/js/public/item/ItemCtrl.js")
        script(src="/js/public/list/ListCtrl.js")
        script(src="/js/public/login/LoginCtrl.js")
        script(src="/js/public/moderator/ModeratorDir.js")
        script(src="/js/public/project/ProjectCtrl.js")
        script(src="/js/public/projects/ProjectsCtrl.js")
        // SCRIPTS END