div
  ul
    li(ng-repeat="(key,message) in messages")
      textarea(ng-model="message.message",ng-change="updateMessage(key,message)")
  textarea(ng-model="m")
  button(ng-click="addMessage()") Add
