div#login
  header
    h3 rezil.io
    div committing resillience
  form
    div Login
    ul
      li
        a(href="/")
          img(src="http://s28.postimg.org/z1izibfzd/icon_fb.png",width=60,height=60)
      li
        a(href="/")
          img(src="http://s28.postimg.org/4ld2k6ug9/icon_g.png",width=60,height=60)
      li
        a(href="/")
          img(src="http://s28.postimg.org/sqidfn44p/icon_twt.png",width=60,height=60)