h1 Sample Project : User will Edit/View this project, sees List Items and their child Items
div
  a(href="/project/999/99") Go to Sample List
  a(href="/project/999/99/9") Go to a Child Object of Sample List
  a(href="/project/999/99/9/commit") Commit to Child Object of Sample List